Package: debra
Version: 0.1.6-1
Section: devel
Priority: optional
Essential: no
Architecture: all
Depends: bash, coreutils, dpkg, grep, sed, wget
Maintainer: Richard Crowley <richard@devstructure.com>
Description: Tools for building Debian packages.
