Package: debra
Version: 0.2.3-1
Section: devel
Priority: optional
Essential: no
Architecture: all
Depends: bash, coreutils, dpkg, grep, sed, wget
Recommends: autoconf, git-core
Maintainer: Richard Crowley <richard@devstructure.com>
Description: Tools for building Debian packages.
