Package: debra
Version: 0.1.4-1
Section: devel
Priority: optional
Essential: no
Architecture: all
Depends: bash, coreutils, dpkg, grep, sed, wget
Maintainer: Richard Crowley <r@rcrowley.org>
Description: Tools for building Debian packages.
